<p>Bienvenido <%= @email %> a Holidays Reminder!</p>

<p>Ud. puede confirmar su nueva cuenta a traves del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi Cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
